
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Index
        <br />
        @Html.RouteLink("ADD 10 + 5", new { controller = "Calculator", action = "Add", a = "10", b = "5" });
        @Html.RouteLink("REM 10 - 5", new { controller = "Calculator", action = "Rem", a = "10", b = "5" });
        @Html.RouteLink("Div 10 / 5", new { controller = "Calculator", action = "Div", a = "10", b = "5" });
        @Html.RouteLink("MUL 10 * 5", new { controller = "Calculator", action = "Mult", a = "10", b = "5" });
        <br /><br />
        @using (Html.BeginForm())
        {
            <label>a </label>@Html.TextBox("a")<br />
            <label>b </label>@Html.TextBox("b")<br /><br />
            <input type="submit", name="calc", value="+"/>
            <input type="submit", name="calc", value="-" />
            <input type="submit", name="calc", value="/" />
            <input type="submit", name="calc", value="*" />
        }
    </div>
    @ViewBag.result 
</body>
</html>
